@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina+2&display=swap');

body {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
}

.container {
	margin: auto;
}

h1, h2, p, a {
	font-family: 'Baloo Bhaina 2', sans-serif;
}

p {
	margin: 5px;
}

iframe {
	width: 100%;
	height: 100%;
}

.iframe-container {
	width: 90vw;
    height: 52.734375vw;
    max-width: 1270px;
    max-height: 750px;
}